<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="connectionStrings" type="System.Configuration.ConnectionStringsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" requirePermission="false" />
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <remove name="ITConnectionString" />
    <!--<add name="ITConnectionString" connectionString="Data Source=108.168.173.11;Initial Catalog=InstaTransfer_Source;Persist Security Info=True;User ID=sa;Password=^x2@sg`]RR(S`&amp;bs" providerName="System.Data.SqlClient"/>-->
    <add name="ITConnectionString" connectionString="Data Source=legendserverii;Initial Catalog=InstaTransfer_Development;Persist Security Info=True;User ID=sa;Password=legendsoft$$11" />
    <!--<add name="ITConnectionString" connectionString="Data Source=alberto-pc;Initial Catalog=UmbrellaScraper_Development;Persist Security Info=True;User ID=sa;Password=legendsoft$$11" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="ScraperFileName" value="D:\Services\ITService\ScraperView.exe" />
    <add key="BasePath" value="D:\Services\ITService\Origen" />
    <add key="BackupPath" value="D:\Services\ITService\Backup" />
    <add key="DefaultCulture" value="es-VE" />
    <add key="ScraperTime" value="60000" />
    <add key="UpdaterTime" value="60000" />
    <add key="ScraperTimeout" value="180000" />
  </appSettings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup></configuration>
