<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!--<add key="rutaLecturaCLI" value="D:\POLAR\CLI_LECTURA_POLAR\" />
    <add key="rutaLecturaCLIR" value="D:\POLAR\CLI_LECTURA_POLAR" />
    <add key="rutaErrorCLI" value="D:\POLAR\CLI_ESCRIBE_ERROR_POLAR\" />
    <add key="rutaBackUpCLI" value="D:\POLAR\CLI_BACKUP_ARCHIVOS\" />
    <add key="rutaLogs" value="D:\POLAR\LOGS\" />
    <add key="rutaFtpOut" value="/OUTtoPolar"/>-->
    <add key="rutaLecturaCOBR" value="C:\POLAR\COB_LECTURA_POLAR" />
    <add key="rutaLecturaCOB" value="C:\POLAR\COB_LECTURA_POLAR\" />
    <add key="rutaErrorCOB" value="C:\POLAR\COB_ESCRIBE_ERROR_POLAR\" />
    <add key="rutaErrorCOBR" value="C:\POLAR\COB_ESCRIBE_ERROR_POLAR" />
    <add key="rutaBackUpCOB" value="C:\POLAR\COB_BACKUP_ARCHIVOS\" />
    <add key="rutaLogs" value="C:\POLAR\LOGS\" />
    <add key="rutaCobroBanesco" value="C:\POLAR\COB_COBRO_BANESCO\"/>
    <add key="rutaCobroBanescoTemporal" value="C:\POLAR\COB_COBRO_BANESCO_TEMPORAL\"/>
    <add key="rutaCobroBanescoR" value="C:\POLAR\COB_COBRO_BANESCO"/>
    <add key="rutaCobroBanescoZIP" value="C:\POLAR\COB_COBRO_BANESCO_ZIP\"/>
    <add key="rutaCobroBanescoRZIP" value="C:\POLAR\COB_COBRO_BANESCO_ZIP"/>
    <add key="produccion" value="PRODUCCION"/>



    <!--<add key="rutaLecturaCOBR" value="C:\Apps InstaPago\Live\CEC Polar\Archivos\COB_LECTURA_POLAR" />
    <add key="rutaLecturaCOB" value="C:\Apps InstaPago\Live\CEC Polar\Archivos\COB_LECTURA_POLAR\" />
    <add key="rutaErrorCOB" value="C:\Apps InstaPago\Live\CEC Polar\Archivos\COB_ESCRIBE_ERROR_POLAR\" />
    <add key="rutaErrorCOBR" value="C:\Apps InstaPago\Live\CEC Polar\Archivos\COB_ESCRIBE_ERROR_POLAR" />
    <add key="rutaBackUpCOB" value="C:\Apps InstaPago\Live\CEC Polar\Archivos\COB_BACKUP_ARCHIVOS\" />
    <add key="rutaLogs" value="C:\Apps InstaPago\Live\CEC Polar\Archivos\LOGS\" />
    <add key="rutaCobroBanesco" value="C:\Apps InstaPago\Live\CEC Polar\Archivos\COB_COBRO_BANESCO\"/>
    <add key="rutaCobroBanescoTemporal" value="C:\Apps InstaPago\Live\CEC Polar\Archivos\COB_COBRO_BANESCO_TEMPORAL\"/>
    <add key="rutaCobroBanescoR" value="C:\Apps InstaPago\Live\CEC Polar\Archivos\COB_COBRO_BANESCO"/>
    <add key="rutaCobroBanescoZIP" value="C:\Apps InstaPago\Live\CEC Polar\Archivos\COB_COBRO_BANESCO_ZIP\"/>
    <add key="rutaCobroBanescoRZIP" value="C:\Apps InstaPago\Live\CEC Polar\Archivos\COB_COBRO_BANESCO_ZIP"/>
    <add key="produccion" value="PRUEBA"/>-->
    
  </appSettings>
  <connectionStrings>
    <remove name="ITConnectionString" />
    <add name="ITConnectionString" connectionString="Data Source=169.54.211.86\LEGENDINSTANCE;Initial Catalog=InstaTransfer_SourceBanesco_TEST;Persist Security Info=True;User ID=dbatech;Password=migracion$$11" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>