<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!--<add key="rutaLecturaCLI" value="D:\POLAR\CLI_LECTURA_POLAR\" />
    <add key="rutaLecturaCLIR" value="D:\POLAR\CLI_LECTURA_POLAR" />
    <add key="rutaErrorCLI" value="D:\POLAR\CLI_ESCRIBE_ERROR_POLAR\" />
    <add key="rutaBackUpCLI" value="D:\POLAR\CLI_BACKUP_ARCHIVOS\" />
    <add key="rutaLogs" value="D:\POLAR\LOGS\" />
    <add key="rutaFtpOut" value="/OUTtoPolar"/>-->
    <add key="rutaLecturaCOBR" value="D:\POLAR\COB_LECTURA_POLAR" />
    
    <add key="rutaLecturaCOB" value="D:\POLAR\COB_LECTURA_POLAR\" />
    <add key="rutaErrorCOB" value="D:\POLAR\COB_ESCRIBE_ERROR_POLAR\" />
    <add key="rutaErrorCOBR" value="D:\POLAR\COB_ESCRIBE_ERROR_POLAR" />
    <add key="rutaBackUpCOB" value="D:\POLAR\COB_BACKUP_ARCHIVOS\" />
    <add key="rutaLogs" value="D:\POLAR\LOGS\" />
    <add key="rutaCobroBanesco" value="D:\POLAR\COB_COBRO_BANESCO\"/>
    <add key="rutaCobroBanescoR" value="D:\POLAR\COB_COBRO_BANESCO"/>
    


  </appSettings>
  <connectionStrings>
    <remove name="ITConnectionString" />
    <add name="ITConnectionString" connectionString="Data Source=control.transax.tech\LEGENDINSTANCE;Initial Catalog=InstaTransfer_SourceBanesco_TEST;Persist Security Info=True;User ID=dbatech;Password=migracion$$11" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>