@{
    ViewBag.Title = "Confirmación";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">Solicitud de Pago</h4>
        </div>
    </div>
</div>
<div class="wrapper-page panel panel-default">

    <div class="panel-heading">
        <h4>Confirmación</h4>
    </div>
    <div class="panel-body">
        <div class="text-center">
            <img src="~/Content/images/mail_confirm.png" alt="img" class="thumb-lg m-t-20 center-block">
            <p class="text-muted font-13 m-t-20">Por favor revise su correo y seleccione el enlace para restablecer su contraseña. </p>
        </div>
    </div>
</div>
