@{
    ViewBag.Title = "Confirmación de cambio de contraseña";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">Solicitud de Pago</h4>
        </div>
    </div>
</div>
<div class="wrapper-page panel panel-default">

    <div class="panel-heading">
        <h4>Confirmación</h4>
    </div>
    <div class="panel-body">
        <div class="text-center">
            <p class="text-muted font-13"> Su contraseña ha sido restaurada. @Html.ActionLink("haga click aquí para iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) </p>
        </div>
    </div>
</div>

