<div id="rsidebar" class="side-bar right-bar nicescroll" style="box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.1); padding:10px;" >
            <div class="col-xs-12">
                @*<button type="button" class="close right-bar-toggle  pull-right" aria-label="Close"><span aria-hidden="true">&times;</span></button>*@
                <h4 id="rightsidebar-title"></h4>
            </div>
            <div id="rightsidebar-body" class="col-xs-12" style="padding:10px;.">
            </div>

    </div>
<script type="text/javascript">
    $(document).ready(function () {

        //Nicescroll
        $(".nicescroll").niceScroll();

    });
</script>