<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="rutaSalidaAfilia" value="C:\Users\CarmeloLarez\POLAR\INI_ESCRIBE_AFILIA_BANESCO\" />
    <add key="rutaLecturaINIR" value="C:\POLAR\INI_LECTURA_POLAR" />
    <add key="rutaLecturaINI" value="C:\POLAR\INI_LECTURA_POLAR\" />
    <add key="rutaErrorIniPolar" value="D:\POLAR\INI_ERROR_ESCRIBE_POLAR\"/>
    <add key="rutaLecturaRespuestaBanescoR" value="D:\POLAR\INI_LECTURA_AFILIA_BANESCO"/>
    <add key="rutaLecturaRespuestaBanesco" value="D:\POLAR\INI_LECTURA_AFILIA_BANESCO\"/>
    <add key="rutaIniBackUp" value="D:\POLAR\INI_BACKUP_ARCHIVOS\"/>
    <add key="rutaLogs" value="D:\POLAR\LOGS\"/>
    


  </appSettings>
  <connectionStrings>
    <remove name="ITConnectionString" />
    <add name="ITConnectionString" connectionString="Data Source=control.transax.tech\LEGENDINSTANCE;Initial Catalog=InstaTransfer_SourceBanescoTest;Persist Security Info=True;User ID=dbatech;Password=migracion$$11" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>