<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="x86" />
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <remove name="ITConnectionString" />
    <!--<add name="ITConnectionString" connectionString="Data Source=LEGENDSERVERII;Initial Catalog=InstaTransfer_Development;Persist Security Info=True;User ID=sa;Password=legendsoft$$11" providerName="System.Data.SqlClient" />-->
    <add name="ITConnectionString" connectionString="Data Source=108.168.173.11;Initial Catalog=InstaTransfer_Source;Persist Security Info=True;User ID=sa;Password=^x2@sg`]RR(S`&amp;bs" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp from="atc@transax.com">
        <network defaultCredentials="false" host="smtp.sendgrid.net" password="Fe7eQetrUp" userName="dcardone@legendsoft.com.ve" />
      </smtp>
    </mailSettings>
  </system.net>
  <appSettings>
    <add key="ScraperPEFileName" value="C:\\Users\\arojas\\Source\\Workspaces\\Umbrella\\InstaTransfer\\ITChargeAccountScraperService\\bin\\Debug\\ITCSScraper.exe" />
    <add key="BasePath" value="C:\AvanceEfectivo\CargoCuenta" />
    <add key="DefaultCulture" value="es-VE" />
    <add key="ScraperTimeout" value="600000" />    <!--Milisegundos-->
    <add key="CefSharpSubprocessPath" value="C:\\Users\\arojas\\Source\\Workspaces\\Umbrella\\InstaTransfer\\ITChargeAccountScraperService\\bin\\Debug\\x86\\CefSharp.BrowserSubprocess.exe" />
    <add key="SmsRequestLimit" value="4" />
    <!--URL-->
    <add key="GetSmsUrl" value="http://legendserverii:9000/api/sms " />
    <!--FTP-->
    <add key="FtpChargeAccount" value="ftp://108.168.181.140/AvanceEfectivo/CargoCuenta"/>
    <add key="FtpChargeAccountUser" value="cargoencuenta"/>
    <add key="FtpChargeAccountPass" value="9Pj=x\Na"/>
    <!--Mail-->
    <add key="NoReplyTransax" value="no-reply@transax.tech" />
    <add key="SupportTransax" value="soporte@transax.tech" />
    <add key="SmsFailureMailTo" value="arojas@instapago.com;djimenez@legendsoft.com;notificacion@instapago.com"/>
  </appSettings>
</configuration>