<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="rutaLecturaSalidaBanescoR" value="D:\POLAR\COB_RESPUESTA_BANESCO" />
    <add key="rutaSalidaPAGR" value="D:\POLAR\COB_RESPUESTA_BANESCO" />
    <add key="rutaSalidaPAG" value="D:\POLAR\PAG_SALIDA_POLAR\" />
    <add key="rutaBackUpCobros" value="D:\POLAR\COBROS_BACKUP\" />
    <add key="rutaBackUpPag" value="D:\POLAR\PAG_BACKUP\" />
    <add key="rutaLogs" value="D:\POLAR\LOGS\" />

    
  </appSettings>
  <connectionStrings>
    <remove name="ITConnectionString" />
    <add name="ITConnectionString" connectionString="Data Source=WINDOWSSERVER\LEGENDINSTANCE;Initial Catalog=InstaTransfer_SourceBanesco;Persist Security Info=True;User ID=dbatech;Password=migracion$$11" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>