<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="rutaLecturaSalidaBanescoR" value="C:\POLAR\COB_RESPUESTA_BANESCO" />
    <add key="rutaSalidaPAGR" value="C:\POLAR\PAG_SALIDA_POLAR" />
    <add key="rutaSalidaPAG" value="C:\POLAR\PAG_SALIDA_POLAR\" />
    <add key="rutaBackUpCobros" value="C:\POLAR\COBROS_BACKUP\" />
    <add key="rutaBackUpPag" value="C:\POLAR\PAG_BACKUP\" />
    <add key="rutaLogs" value="C:\POLAR\LOGS\" />
    <add key="rutaCobroBanescoTemporalR" value="C:\POLAR\COB_COBRO_BANESCO_TEMPORAL"/>
    <add key="rutaLecturaBackupCobrosBanescoR" value="C:\POLAR\COB_BACKUP_ARCHIVOS\" />

    <!--<add key="rutaLecturaSalidaBanescoR" value="C:\Apps InstaPago\Live\CEC Polar\Archivos\COB_RESPUESTA_BANESCO" />
    <add key="rutaSalidaPAGR" value="C:\Apps InstaPago\Live\CEC Polar\Archivos\PAG_SALIDA_POLAR" />
    <add key="rutaSalidaPAG" value="C:\Apps InstaPago\Live\CEC Polar\Archivos\PAG_SALIDA_POLAR\" />
    <add key="rutaBackUpCobros" value="C:\Apps InstaPago\Live\CEC Polar\Archivos\COBROS_BACKUP\" />
    <add key="rutaBackUpPag" value="C:\Apps InstaPago\Live\CEC Polar\Archivos\PAG_BACKUP\" />
    <add key="rutaLogs" value="C:\Apps InstaPago\Live\CEC Polar\Archivos\LOGS\" />
    <add key="rutaCobroBanescoTemporalR" value="C:\Apps InstaPago\Live\CEC Polar\Archivos\COB_COBRO_BANESCO_TEMPORAL"/>
    <add key="rutaLecturaBackupCobrosBanescoR" value="C:\Apps InstaPago\Live\CEC Polar\Archivos\COB_BACKUP_ARCHIVOS\" />-->

    <add key="SMTP_ADDRESS" value="10.148.174.215" />
    <add key="SMTP_PORT" value="25" />
    <add key="SMTP_PASSWORD" value="" />
    <add key="SMTP_USERNAME" value="" />
    <add key="SMTP_SSL" value="995" />
  </appSettings>
  <connectionStrings>
    <remove name="ITConnectionString" />
    <add name="ITConnectionString" connectionString="Data Source=169.54.211.86\LEGENDINSTANCE;Initial Catalog=InstaTransfer_SourceBanesco_TEST;Persist Security Info=True;User ID=dbatech;Password=migracion$$11" providerName="System.Data.SqlClient" />
  
  </connectionStrings>
</configuration>