@model List<InstaTransfer.DataAccess.CPurchaseOrder>

<div class="row">

    <div class="col-sm-12">
        <div class="">

            <h4 class="header-title"><b>Listado de Ordenes de Compra</b></h4>

            <p class="text-muted font-13 m-b-30">
                Detalle de las Órdenes de Compra.
            </p>
            <div class="clearfix"></div>

            <div class="clearfix"></div>
            @{Html.RenderPartial("~/Views/Order/_OrdersTable.cshtml", Model); }
        </div>
    </div>
</div>