@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Solicitud de Pago";
    Layout = "~/Views/Shared/_LayoutError.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">Solicitud de Pago</h4>
        </div>
    </div>
</div>
<div class="col-lg-12">
    <div class="panel panel-border panel-error">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="md md-error"></i> Ha ocurrido un error en la aplicación.</h3>
        </div>
        <div class="panel-body">
            <p>
                Por favor vuelva a <a href="@Url.Action("Login", "Account")">iniciar sesión</a> para volver a entrar a la aplicación.
            </p>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundle/core-app")
}