<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!--<add key="rutaDescargaOUT" value="C:\Apps\Transax\Repo\RespuestaBanesco\" />
    <add key="rutacobrolocalR" value="C:\Apps\Transax\Repo\MasivoBanesco" />
    <add key="rutacobrolocalBackUp" value="C:\Apps\Transax\Repo\MasivoBanescoBackUp\" />
    <add key="rutaDescargaOUTPOLAR" value="D:\POLAR\COB_RESPUESTA_BANESCO\" />-->

    <add key="rutaDescargaOUT" value="C:\Apps InstaPago\Live\CEC Polar\Archivos\RespuestaBanesco\" />
    <add key="rutacobrolocalR" value="C:\Apps InstaPago\Live\CEC Polar\Archivos\MasivoBanesco" />
    <add key="rutacobrolocalBackUp" value="C:\Apps InstaPago\Live\CEC Polar\Archivos\MasivoBanescoBackUp\" />
    <add key="rutaDescargaOUTPOLAR" value="C:\Apps InstaPago\Live\CEC Polar\Archivos\COB_RESPUESTA_BANESCO\" />



  </appSettings>
  <connectionStrings>
    <remove name="ITConnectionString" />
    <add name="ITConnectionString" connectionString="Data Source=169.54.211.86\LEGENDINSTANCE;Initial Catalog=InstaTransfer_SourceBanesco_TEST;Persist Security Info=True;User ID=dbatech;Password=migracion$$11" providerName="System.Data.SqlClient" />  </connectionStrings>
</configuration>