<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="rutaLecturaSalidaBanescoR" value="C:\POLAR\COB_RESPUESTA_BANESCO" />
    <add key="rutaSalidaPAG" value="C:\POLAR\PAG_SALIDA_POLAR\" />
    <add key="rutaBackUpCobros" value="C:\POLAR\COBROS_BACKUP\" />
    <add key="rutaLogs" value="C:\POLAR\LOGS\" />
    <add key="rutaLecturaBackupCobrosBanescoR" value="C:\POLAR\COB_BACKUP_ARCHIVOS" />
    
  </appSettings>
  <connectionStrings>
    <remove name="ITConnectionString" />
    <add name="ITConnectionString" connectionString="Data Source=control.transax.tech\LEGENDINSTANCE;Initial Catalog=InstaTransfer_SourceBanesco;Persist Security Info=True;User ID=dbatech;Password=migracion$$11" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>