<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>

  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>

  <connectionStrings>
    <remove name="ITConnectionString" />
    <add name="ITConnectionString" connectionString="Data Source=169.54.211.86\LEGENDINSTANCE;Initial Catalog=InstaTransfer_SourceTest;Persist Security Info=True;User ID=dbatech;Password=migracion$$11" providerName="System.Data.SqlClient" />
    <!--<add name="ITConnectionString" connectionString="Data Source=LEGENDSERVERII;Initial Catalog=InstaTransfer_Development;Persist Security Info=True;User ID=sa;Password=legendsoft$$11" providerName="System.Data.SqlClient" />-->
    <!--<add name="ITConnectionString" connectionString="Data Source=LEGENDSERVERII;Initial Catalog=InstaTransfer_Source;Persist Security Info=True;User ID=sa;Password=legendsoft$$11" providerName="System.Data.SqlClient" />-->
    <!--<add name="ITConnectionString" connectionString="Data Source=alberto-pc;Initial Catalog=InstaTransfer_Development;Persist Security Info=True;User ID=sa;Password=legendsoft$$11" providerName="System.Data.SqlClient" />-->
    <!--<add name="ITConnectionString" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=InstaTransfer;Persist Security Info=True;User ID=sa;Password=MAMALOnojoda$$11" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp from="atc@transax.com">
        <network defaultCredentials="false" host="smtp.sendgrid.net" password="Fe7eQetrUp" userName="dcardone@legendsoft.com.ve" />
      </smtp>
    </mailSettings>
  </system.net>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="projectName" value="Transax" />
    <add key="reCaptchaPublicKey" value="6LcAsyEUAAAAAA0QnVuMdZo53LEggPXL9Dd4slsm" />
    <add key="reCaptchaPrivateKey" value="6LcAsyEUAAAAABklwNVRhZM38O3tu0E7JvUEGXmu" />
    <add key="Referencia" value="TDB CAPIT. ,TDC ,TT ,T1 ,T5 ,TS ,TDD ,TD ,TC ,TN " />
    <add key="updateTimeInterval" value="10" />
    <add key="RutaPropuestaEvidencia" value="C:\Users\carmelo\Desktop\evidencia\"/>
    <add key="RutaPropuestaMontando" value="C:\Users\carmelo\Desktop\Archivos\Montando\"/>
    <add key="RutaAnalisisProcesado" value="C:\Users\carmelo\Desktop\Analisis\Procesado\"/>
    <add key="RutaGETCobroDiarioPendiente" value="C:\Users\carmelo\Desktop\Archivos\Pendientes"/>
    <add key="RutaCargoCuenta" value="C:\Users\carmelo\Desktop\Archivos\CargoCuenta"/>
    <add key="RutaArchivosComercio" value="C:\Users\carmelo\Desktop\Archivos\Documentos\"/>

    <add key="ActivarEvidencia" value="true"/>
    <add key="IVA" value ="12"/>
    <!--%-->
    <add key="MinCashOut" value="500"/>
    <!--Bs.-->
    <!--Mail-->
    <add key="InfoTransax" value="info@transax.tech" />
    <add key="NoReplyTransax" value="no-reply@transax.tech" />
    <add key="SupportTransax" value="soporte@transax.tech" />
    <!--URL-->
    <add key="TransaxUrl" value="http://localhost:8583/" />
    <add key="PaymentRequestURL" value="http://localhost:1450/PaymentRequest/Declare/" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <sessionState timeout="60"></sessionState>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.5.2" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    <globalization culture="es-VE" uiCulture="es" />
  </system.web>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/x-woff" />
    </staticContent>
    <modules>
      <remove name="FormsAuthentication" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <!--<handlers>
      <add name="Browser Link for HTML" path="*.html" verb="*" type="System.Web.StaticFileHandler, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" resourceType="File" preCondition="integratedMode" />
    </handlers>-->
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AI.Agent.Intercept" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.7.0" newVersion="2.0.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701">
        <providerOption name="CompilerVersion" value="v4.0" />
      </compiler>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>