<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="connectionStrings" type="System.Configuration.ConnectionStringsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CobroDiario.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
      
    </startup>
  <appSettings>
    <add key="Referencia" value="TDB CAPIT. ,TDC ,TT ,T1 ,T5 ,TS ,TDD ,TD ,TC ,TN ,T9" />
    <add key="ScraperCreate" value="http://scrapper.transax.tech/bankstatement/create" />
    <add key="ScraperGet" value="http://scrapper.transax.tech/bankstatement/get" />
    <add key="ScraperLogin" value="http://scrapper.transax.tech/account/login" />
    <add key="ScraperUser" value="clarez@legendsoft.com.ve" />
    <add key="ScraperPass" value="Clarez$$11" />
    <add key="RutaAnalisisPendiente" value="C:\Users\carmelo\Desktop\Analisis\Pendientes\" />
    <add key="RutaGETAnalisisPendiente" value="C:\Users\carmelo\Desktop\Analisis\Pendientes" />
    <add key="RutaAnalisisProcesado" value="C:\AvanceEfectivo\Analisis\Procesado\" />
    <add key="RutaAnalisisFalla" value="C:\AvanceEfectivo\Analisis\Falla\" />
    <add key="RutaCargoCuenta" value="C:\AvanceEfectivo\CargoCuenta\" />
    <add key="RutaGETCobroDiarioPendiente" value="C:\Users\carmelo\Desktop\Archivos\Pendientes" />
    <add key="RutaCobroDiarioProcesado" value="C:\Users\carmelo\Desktop\Archivos\Procesado\" />
  </appSettings>
  <connectionStrings>
    <remove name="ITConnectionString" />
    <add name="ITConnectionString" connectionString="Data Source=LEGENDSERVERII;Initial Catalog=InstaTransfer_Development;Persist Security Info=True;User ID=sa;Password=^x2@sg`]RR(S`&amp;bs" providerName="System.Data.SqlClient" />
    <!--<add name="ITConnectionString" connectionString="Data Source=LEGENDSERVERII;Initial Catalog=InstaTransfer_Source;Persist Security Info=True;User ID=sa;Password=legendsoft$$11" providerName="System.Data.SqlClient" />-->
    <!--<add name="ITConnectionString" connectionString="Data Source=alberto-pc;Initial Catalog=InstaTransfer_Development;Persist Security Info=True;User ID=sa;Password=legendsoft$$11" providerName="System.Data.SqlClient" />-->
    <!--<add name="ITConnectionString" connectionString="Data Source=pc-j2pb;Initial Catalog=InstaTransfer_Development;Persist Security Info=True;User ID=sa;Password=legendsoft$$11" providerName="System.Data.SqlClient" />-->
    <!--<add name="ITConnectionString" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=InstaTransfer_Development;Persist Security Info=True;User ID=sa;Password=MAMALOnojoda$$11" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <userSettings>
    <CobroDiario.Properties.Settings>
      <setting name="ITConnectionString" serializeAs="String">
        <value>Data Source=localhost\SQLEXPRESS;Initial Catalog=InstaTransfer_Development;Persist Security Info=True;User ID=sa;Password=MAMALOnojoda$$11</value>
      </setting>
    </CobroDiario.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
