<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <remove name="ITConnectionString" />
    <add name="ITConnectionString" connectionString="Data Source=108.168.173.11;Initial Catalog=InstaTransfer_Source;Persist Security Info=True;User ID=sa;Password=^x2@sg`]RR(S`&amp;bs" providerName="System.Data.SqlClient" />
    <!--<add name="ITConnectionString" connectionString="Data Source=LEGENDSERVERII;Initial Catalog=InstaTransfer_Development;Persist Security Info=True;User ID=sa;Password=legendsoft$$11" providerName="System.Data.SqlClient" />-->
    <!--<add name="ITConnectionString" connectionString="Data Source=LEGENDSERVERII;Initial Catalog=InstaTransfer_Source;Persist Security Info=True;User ID=sa;Password=legendsoft$$11" providerName="System.Data.SqlClient" />-->
    <!--<add name="ITConnectionString" connectionString="Data Source=alberto-pc;Initial Catalog=InstaTransfer_Development;Persist Security Info=True;User ID=sa;Password=legendsoft$$11" providerName="System.Data.SqlClient" />-->
    <!--<add name="ITConnectionString" connectionString="Data Source=pc-j2pb;Initial Catalog=InstaTransfer_Development;Persist Security Info=True;User ID=sa;Password=legendsoft$$11" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="DefaultCulture" value="es-VE" />
    <add key="ReconciliatorTime" value="60000" /> <!-- Milisegundos -->    
    <!--URL-->
    <add key="TransaxUrl" value="http://localhost:8583/" />
    <!--<add key="PaymentRequestURL" value="http://localhost:1450/paymentrequest/sendmailexternal" />-->
    <add key="PaymentRequestURL" value="http://payments.transax.tech/paymentrequest/sendmailexternal" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>