<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="InstaTransfer.DataAccess.Properties.Settings.ITConnectionString"
            connectionString="Data Source=LEGENDSERVERII;Initial Catalog=InstaTransfer_Development;Persist Security Info=True;User ID=sa;Password=legendsoft$$11"
            providerName="System.Data.SqlClient" />
        <add name="InstaTransfer.DataAccess.Properties.Settings.InstaTransfer_DevelopmentConnectionString"
            connectionString="Data Source=LEGENDSERVERII;Initial Catalog=InstaTransfer_Development;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="InstaTransfer.DataAccess.Properties.Settings.InstaTransfer_DevelopmentConnectionString1"
            connectionString="Data Source=PC-J2PB;Initial Catalog=InstaTransfer_Development;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="InstaTransfer.DataAccess.Properties.Settings.InstaTransfer_SourceConnectionString"
            connectionString="Data Source=LEGENDSERVERII;Initial Catalog=InstaTransfer_Source;Persist Security Info=True;User ID=sa;Password=legendsoft$$11"
            providerName="System.Data.SqlClient" />
        <add name="InstaTransfer.DataAccess.Properties.Settings.InstaTransfer_DevelopmentConnectionString2"
            connectionString="Data Source=legendserverii;Initial Catalog=InstaTransfer_Development;User ID=sa;Password=legendsoft$$11"
            providerName="System.Data.SqlClient" />
        <add name="InstaTransfer.DataAccess.Properties.Settings.InstaTransfer_DevelopmentConnectionString3"
            connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=InstaTransfer_Development;User ID=sa;Password=MAMALOnojoda$$11"
            providerName="System.Data.SqlClient" />
        <add name="InstaTransfer.DataAccess.Properties.Settings.InstaTransfer_DevelopmentConnectionString4"
            connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=InstaTransfer_Development;Persist Security Info=True;User ID=sa;Password=MAMALOnojoda$$11"
            providerName="System.Data.SqlClient" />
        <add name="InstaTransfer.DataAccess.Properties.Settings.InstaTransfer_DevelopmentConnectionString5"
            connectionString="Data Source=localhost\sqlexpress;Initial Catalog=InstaTransfer_Development;User ID=sa;Password=MAMALOnojoda$$11"
            providerName="System.Data.SqlClient" />
        <add name="InstaTransfer.DataAccess.Properties.Settings.InstaTransferConnectionString"
            connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=InstaTransfer;Persist Security Info=True;User ID=sa;Password=MAMALOnojoda$$11"
            providerName="System.Data.SqlClient" />
        <add name="InstaTransfer.DataAccess.Properties.Settings.InstaTransfer_SourceConnectionString1"
            connectionString="Data Source=108.168.173.11;Initial Catalog=InstaTransfer_Source;Persist Security Info=True;User ID=sa;Password=^x2@sg`]RR(S`&amp;bs"
            providerName="System.Data.SqlClient" />
        <add name="InstaTransfer.DataAccess.Properties.Settings.InstaTransfer_SourceConnectionString2"
            connectionString="Data Source=169.54.211.86\legendinstance;Initial Catalog=InstaTransfer_Source;Persist Security Info=True;User ID=dbatech;Password=migracion$$11"
            providerName="System.Data.SqlClient" />
        <add name="InstaTransfer.DataAccess.Properties.Settings.InstaTransfer_SourceConnectionString3"
            connectionString="Data Source=169.54.211.86\LEGENDINSTANCE;Initial Catalog=InstaTransfer_Source;Persist Security Info=True;User ID=dbatech;Password=migracion$$11"
            providerName="System.Data.SqlClient" />
        <add name="InstaTransfer.DataAccess.Properties.Settings.EmprestaIIConnectionString"
            connectionString="Data Source=169.54.211.86\LEGENDINSTANCE;Initial Catalog=EmprestaII;User ID=dbatech;Password=migracion$$11"
            providerName="System.Data.SqlClient" />
        <add name="InstaTransfer.DataAccess.Properties.Settings.InstaTransfer_Source_TestConnectionString"
            connectionString="Data Source=169.54.211.86\LEGENDINSTANCE;Initial Catalog=InstaTransfer_Source_Test;User ID=dbatech;Password=migracion$$11"
            providerName="System.Data.SqlClient" />
        <add name="InstaTransfer.DataAccess.Properties.Settings.InstaTransfer_SourceTestConnectionString"
            connectionString="Data Source=169.54.211.86\LEGENDINSTANCE;Initial Catalog=InstaTransfer_SourceTest;Persist Security Info=True;User ID=dbatech;Password=migracion$$11"
            providerName="System.Data.SqlClient" />
        <add name="InstaTransfer.DataAccess.Properties.Settings.InstaTransfer_SourceConnectionString4"
            connectionString="Data Source=169.54.211.86\LEGENDINSTANCE;Initial Catalog=InstaTransfer_Source;User ID=dbatech;Password=migracion$$11"
            providerName="System.Data.SqlClient" />
        <add name="InstaTransfer.DataAccess.Properties.Settings.InstaTransfer_SourceTestConnectionString1"
            connectionString="Data Source=169.54.211.86\LEGENDINSTANCE;Initial Catalog=InstaTransfer_SourceTest;User ID=dbatech;Password=migracion$$11"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
