<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
      <section name="appSettings" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    </configSections>
  <appSettings>
    <add key="ScraperFileName" value="C:\\Users\\arojas\\Source\\Workspaces\\Umbrella\\InstaTransfer\\ITService\\bin\\Debug\\ScraperView.exe"/>
    <add key="UpdaterFileName" value="C:\\Users\\arojas\\Source\\Workspaces\\Umbrella\\InstaTransfer\\ITService\\bin\\Debug\\UpdaterView.exe"/>
    <add key="BasePath" value="C:\Umbrella"/>
    <add key="BackupPath" value="C:\UmbrellaBackup"/>
    <add key="DefaultCulture" value="es-VE"/>
  </appSettings>
    <connectionStrings>
        <remove name="ITConnectionString"/>
        <add name="ITConnectionString" connectionString="Data Source=legendserverii;Initial Catalog=InstaTransfer_Source;Persist Security Info=True;User ID=sa;Password=legendsoft$$11"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
